<%= form_with(model: user, local: true) do |f| %>
  <div class="form-group row">

    <%= render "shared/errors", object: user %>

    <div class="col-sm-12 my-2">
      <%= f.label :name, class: "font-weight-bold" %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="col-sm-12 my-2">
      <%= f.label :email, class: "font-weight-bold" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="col-sm-12 my-2">
      <%= f.label :password, class: "font-weight-bold" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="col-sm-12 my-2">
      <%= f.label :password_confirmation, "Confirm Password", class: "font-weight-bold" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <% if user.new_record? %>
    <%= f.submit "Create Account", class: "btn btn-warning px-4" %>
  <% else %>
    <%= f.submit "Update Account", class: "btn btn-warning px-4" %>
  <% end %>
<% end %>
