<% @events.map do |event| %>
  <div class="card m-3">  
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <h2><%= link_to event.name, event %></h2>
          <p class="font-weight-bold d-inline"><%= day_and_time(event) %> in <%= event.location %></p>
            
          <% if event.free? %>
            <p class="badge badge-success ml-1"><%= price(event) %></p>
          <% else %>
            <p class="badge badge-warning ml-1"><%= price(event) %></p>
          <% end %>

          <p><%= truncate(event.description, lenght: 35, separator: ' ') %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
