<div class="card m-3">  
  <div class="card-body">
    <div class="media">
      <div class="media-body">    
        <h1><%= @event.name %></h1>       
        <p class="font-weight-bold d-inline-block mt-4"><%= day_and_time(@event) %> in <%= @event.location %></p>
        <p><%= @event.description %></p>
        <%= link_to "Edit", edit_event_path(@event), class: "btn btn-warning px-4" %>
        <%= link_to "Delete", @event, class: "btn btn-danger px-4", method: :delete, 
                              data: { confirm: "Really?" } %>
      </div>
    </div>
  </div>  
</div>
