<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Eventz", root_path, class: "navbar-brand mb-0 mr-4 p-2 h1 font-weight-bold text-uppercase" %>       
    <% if current_user_admin? %>
      <%= link_to "Add New Event", new_event_path(@event), class: "btn btn-outline-warning btn-sm px-4 ml-3" %>        
    <% end %>       
    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to current_user.name, current_user, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", session_path, 
                      method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
